body{
    background-image: linear-gradient(grey,white);
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-div{
    position: relative;
}
img{
    width: 400px;
    height: 200px;
}
.clock{
    position: absolute;
    top:35px;
    left:35px;
    text-align: center;
    font-size: 50px;
    line-height: 70px;
    border-bottom: 1px solid grey;
}
.day{
    position: absolute;
    top:115px;
    left: 40%;
    font-size: 30px;
}